################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AbilityMapHack/bin/Release
/AbilityMapHack/.vs/AbilityMapHack/v14
/AbilityMapHack/obj/Debug
/AbilityMapHack/bin/Debug
/AbilityMapHack/obj/x64/Debug
/Storm Spirit/bin/Release
/Storm Spirit/obj/Debug
/Storm Spirit/bin/Debug
/Storm Spirit/obj/x64/Debug
/Storm Spirit/.vs/Storm Spirit/v14
/Storm Spirit/obj/Release
