################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AbilityMapHack/bin/Release
/AbilityMapHack/.vs/AbilityMapHack/v14
/AbilityMapHack/obj/Debug
